body {
   background-color: #ffea00;
   margin: 0;
   padding: 0;
}

#game {
   width: 100vw;
   color: #302e2f;
   display: flex;
   text-align: center;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   font-family: sans-serif;
   overflow: hidden;
}

#game-title {
   width: 100%;
   padding: 10px 0;
   font-size: 42px;
   text-align: center;

   @media (max-width: 768px) {
      font-size: 36px;
   }
}

#player-options {
   width: 100%;
   padding: 10px 0;

   h2 {
      font-size: 24px;
      margin-bottom: 50px;
   }

   img {
      box-sizing: border-box;
      border: 5px #ffea00 solid;
      margin: 15px;
      transition: all 0.2s ease-in-out;
      border-radius: 15px;

      &:hover {
         border: 5px #302e2f solid;
         cursor: pointer;
      }
   }
}

#down-section {
   display: flex;
   align-items: center;
   justify-content: center;

   @media (max-width: 768px) {
      flex-direction: column;
   }
}

#play-game {
   font-size: 34px;
   background: none;
   border: 5px #302e2f solid;
   padding: 5px 25px;
   transition: all 0.2s ease-in-out;
   font-weight: 700;
   margin-left: 120px;
   text-align: center;

   &:hover {
      background: #fff;
      cursor: pointer;
   }

   @media (max-width: 768px) {
      margin-left: 0;
   }
}

#reload {
   width: 50px;
   opacity: 0.85;
   transition: all 0.2s ease-in-out;
   margin-left: 50px;

   &:hover {
      filter: invert(100%);
      cursor: pointer;
      opacity: 1;
   }

   @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 15px;
   }
}

.active {
   border: 5px #302e2f solid !important;
}

#game-table {
   display: flex;
   margin: 55px 0;

   @media (max-width: 768px) {
      flex-direction: column;
   }
}

#game-show-result {
   text-align: center;
   flex: 0 0 50%;
   font-size: 46px;
   font-weight: 700;
   justify-content: center;
}

#points-counter {
   margin: 0;
   flex: 0 0 25%;
   list-style-type: none;
   justify-content: flex-end;
   font-size: 18px;

   @media (max-width: 768px) {
      margin-top: 15px;
      padding: 0;
   }
}

#ai-move {
   flex: 0 0 25%;
   list-style-type: none;
   justify-content: flex-start;
   font-size: 26px;
}
